$mobile-landscape: 1024px;

.failure {
  margin: 0 0.5rem 0.5rem;
  font-size: 1.5rem;
}

.content {
  margin: 0 0.5rem 0.5rem;
  padding: 0 1rem 4rem;
  background-color: var(--color-1);

  @media (max-width: $mobile-landscape) {
    padding-bottom: 1rem;
  }
}

.inner {
  width: 40rem;
  margin: 0 auto;

  @media (max-width: $mobile-landscape) {
    width: 100%;
  }
}

.product {
  display: flex;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.15rem solid var(--color-3);
}

.image {
  width: 8rem;
  height: 10rem;

  img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.75rem;
  padding-left: 1rem;
}

.title {
  font-size: 1.25rem;
}

.price {
  font-weight: bold;
  font-size: 1.25rem;
}

.sales {
  text-decoration: line-through;
}

.discount {
  color: var(--color-neutral-3);
}
