$mobile-landscape: 1024px;
$mobile-portrait: 768px;

.failure {
  margin-top: 0;
}

.content {
  margin: 0 0.5rem 0.5rem;
  padding: 4rem 1rem;
  background-color: var(--color-1);

  @media (max-width: $mobile-landscape) {
    padding: 1rem;
  }
}

.inner {
  width: 40rem;
  margin: 0 auto;

  @media (max-width: $mobile-landscape) {
    width: 100%;
  }
}

.product {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;

  @media (max-width: $mobile-portrait) {
    gap: 1rem;
    margin-bottom: 1rem;
  }
}

.image {
  width: 10rem;
  height: 14rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
}

.quantity {
  font-size: 1.5rem;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
}

.decremented,
.incremented,
.removed,
.cleared {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-5);
  font-size: 1.75rem;
  color: var(--color-2);
}

.sales {
  text-decoration: line-through;
  color: var(--color-3);
}

.discount {
  color: var(--color-4);
}

.total {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.value {
  font-size: 2.5rem;
  font-weight: bold;
}

.order {
  margin: 2.25rem auto 0;
  padding: 1.25rem;
  background-color: var(--color-5);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-2);
}
