.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;

  &::before {
    content: '';
    display: block;
    border-style: solid;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    animation: Rotate 1s linear infinite;
    border-color: var(--color-4);
    border-right-color: var(--color-3);
  }
}

.small {
  &::before {
    width: 2rem;
    border-width: 0.4rem;
  }
}

.medium {
  &::before {
    width: 3rem;
    border-width: 0.5rem;
  }
}

.large {
  &::before {
    width: 5rem;
    border-width: 0.6rem;
  }
}

@keyframes Rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
