$mobile-portrait: 768px;

.menu {
  flex: 1;
  display: flex;
  justify-content: center;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  background-color: var(--color-1);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-2);

  @media (max-width: $mobile-portrait) {
    font-size: 0;
  }

  &:hover,
  &:focus-visible {
    outline: 0.5rem solid var(--color-4);
    outline-offset: -0.5rem;
  }
}

.active {
  background-color: var(--color-4);
  color: var(--color-1);
  cursor: default;
}

.icon {
  font-size: 2rem;
}
