$tablet-portrait: 1280px;
$mobile-landscape: 1024px;
$mobile-portrait: 768px;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0.5rem 0;
  background-color: var(--color-1);
  text-align: center;
}

.title {
  max-width: 50rem;
  padding: 6rem 1rem;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.75rem;

  @media (max-width: $tablet-portrait) {
    padding: 4rem 1rem;
  }

  @media (max-width: $mobile-landscape) {
    padding: 2rem 1rem;
    font-size: 2rem;
  }

  @media (max-width: $mobile-portrait) {
    padding: 1rem;
  }
}
