$mobile-landscape: 1024px;
$mobile-portrait: 768px;

.failure {
  margin: 0.5rem 0.5rem 0;
  font-size: 1.5rem;
}

.loader {
  margin-top: 0.5rem;

  &::before {
    width: 5rem;
    border-width: 0.5rem;
  }
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 0 4rem 0.5rem;

  @media (max-width: $mobile-landscape) {
    padding-bottom: 2rem;
  }

  @media (max-width: $mobile-portrait) {
    padding-bottom: 0;
  }
}
