$mobile-portrait: 768px;

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  &.active {
    justify-content: flex-end;
  }
}

.button {
  position: relative;
  padding: 1rem;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--color-1);
  pointer-events: initial;
  cursor: pointer;

  @media (max-width: $mobile-portrait) {
    padding: 0.5rem;
    font-size: 1.75rem;
  }

  &:hover,
  &:focus-visible {
    outline: 0.5rem solid var(--color-4);
  }

  .active & {
    padding: 0.5rem;
    background-color: var(--color-5);
    font-size: 1rem;
    color: var(--color-2);
    animation: Appear 0.5s var(--easy-in-out-quad);

    &:hover,
    &:focus-visible {
      outline: none;
      background-color: var(--color-4);
      color: var(--color-1);
    }
  }
}

@keyframes Appear {
  0% {
    transform: translateY(-2rem);
  }
}
