.sticky {
  backface-visibility: hidden;
  width: 100%;

  &.active {
    &::before {
      content: ' ';
      display: block;
      width: 100%;
      height: var(--height);
    }
  }
}

.inner {
  backface-visibility: hidden;

  .active & {
    position: fixed;
    z-index: 4;
    top: 5rem;
    right: 0;
    left: 0;
  }

  .hidden & {
    display: none;
  }
}
